<app-header title="Buttons Page" />

<ion-content [fullscreen]="true">
  <ion-datetime></ion-datetime>
  
  <h5>Datetime con valores</h5>
  <ion-datetime value="2002-07-20" min="2002-07-10" max="2002-07-25"></ion-datetime>
  
  <h5>Datetime con valores de fechas</h5>
  <ion-datetime dayValues="5, 10, 15"></ion-datetime>
  
  <h5>Datetime con formato 12hrs</h5>
  <ion-datetime slo hourCycle="h12">
    <span slot="time-label">select</span>
  </ion-datetime>
  
  <h5>Time</h5>
  <ion-datetime presentation="month-year"></ion-datetime>
</ion-content>
